

*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}

/*
    strip all hyperlink text-decorators and force behaviors color
*/
a:visited           { text-decoration: none;    color:black; }
a:hover             { text-decoration: none;    color:black; }
a:focus             { text-decoration: none;    color:black; }
a:hover, a:active   { text-decoration: none;    color:black; }

/*all images*/
img
{
    width: 100%;
}

/*everything outside nav*/
.main
{
    width: 100%;

    padding-top: 50px;

    position: absolute;
    overflow: hidden;
    
    /*graphic design is my passion
    background: linear-gradient(135deg, #ff0000, #cc00ff, #0000ff, #00ffff, #00ff00, #ffff00, #ff0000);*/
}

/*Heading*/
.main h1
{
    margin-right: 60%;
    text-align: center;
    font-size: 250%;
}

/*body paragraphs*/
#text
{
    line-height: 150%;
    margin-top: 30px;
    margin-left: 40%;
    width: 40%;
    background-color: white;
}

/*div containing my ASM resources*/
#research
{
    width: 110%;
}

/*each element under research*/
#research li
{
    margin-bottom: 15px;
    line-height: 120%;
}

/*nav*/
#wrapper
{
    background-color: #e7e7e7;
	text-align: center;
    scroll-behavior: smooth;
	
	list-style: none;

	padding-top: 12px;
    padding-bottom: 12px;
}

ul#list b
{   
    text-align: left;
}

ul#list li 
{   
    padding-left: 1.5%;
    padding-right: 1.5%;
    display: inline-block; 
}

ul#list li a
{
    font-size: 100%;
    text-decoration: none;
}